<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lemma</title>
    <link rel="stylesheet" href="style.css" />
    <script src="node_modules/vue/dist/vue.js" defer></script>
    <script src="client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Lemma</h1>
      <nav>
<!--        <h2>Levels</h2>
        <ol id="levels">
          <li class="level"><a href="#">Level 1</a></li>
        </ol>
-->
      </nav>

    </header>
    <main id="page">
      <section id="steps-section">
        <h2>Steps</h2>
        <ol id="steps">
          <li v-for="(step, i) in steps" class="step">
            <div v-for="(token, j) in step" class="token"
                 v-bind:class="{cursor: (j == x), sel: isSelected(j)}">
                <div class="symbol">{{ token }}</div>
                <div class="highlight"></div>
            </div>
          </li>
        </ol>
      </section>
      <section id="laws-section">
        <h2>Laws</h2>
        <ul id="laws">
          <li class="law" v-for="(law, i) in laws"
            v-bind:class="{focused: (i == y)}">{{ law }}</li>
        </ul>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
