<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lemma</title>
    <link rel="stylesheet" href="style.css" />
    <script src="node_modules/vue/dist/vue.js" defer></script>
    <script src="client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Lemma</h1>
    </header>
    <main id="page">
      <!-- We don't have to leave this empty -->

      <p>Active: ({{ x }}, {{ y }})</p>
      <nav>
        <h2>Levels</h2>
        <ol id="levels">
          <li class="level"><a href="#">Level 1</a></li>
        </ol>
      </nav>
      <section id="content">
        <section id="steps-section">
          <ol id="steps">
            <li class="step" v-for="(step, i) in steps">
              <ol>
                <li v-for="(token, j) in step"
                  v-bind:class="{focused: (j == x)}">{{ token }}</li>
              <ol>
            </li>
          </ol>
        </section>
        <section id="laws-section">
          <ul id="laws">
            <li class="law" v-for="(law, i) in laws"
              v-bind:class="{focused: (i == y)}">{{ law }}</li>
          </ul>
        </section>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
