:root {
    --light-color: #72b0de;
    --text-color: white;
    --bg-color: #2d3f75;
    --light-bg-color: #efedd6;
    --dark-text-color: darkslategrey;
    --border-radius: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#game {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    max-width: 80rem;
    min-width: 20rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#modal {
    background-color: var(--light-bg-color);
    min-width: 30rem;
    max-width: 60rem;
    border-radius: var(--border-radius);
    position: absolute;
    transform: translate(50%, 50%);
    z-index: 99;
    color: var(--dark-text-color);
}

#modal #message-display {
    padding: 2rem;
}

#overlay #shade {
    overflow: hidden;
    background-color: rgba(0,0,0, 0.7);
    z-index: 98;
    width: 100%;
    height: 100%;
    position: fixed;
}

#prompt {
    min-width: 20rem;
    max-width: 60rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tree-pane {
    height: 100%;
    min-width: 30rem;
    min-height: 20rem;
    margin-right: 5rem;
}

#tree .katex {
    font-size: 2.3rem;
}

#sidebar {
    border-radius: var(--border-radius);
    min-width: 20rem;
    max-width: 60rem;
    background-color: var(--light-bg-color);
    color: var(--dark-text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5rem;
    min-height: 5rem;
}

#sidebar .controls, #modal .controls {
    background-color: black;
    color: var(--text-color); 
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.tree-pane > * {
    margin: 1px;
}

.tree-pane > div {
    height: 100%;   
}

#moves li {
    padding: 0;
    list-style-type: none;
    margin: 1px;
    padding: 1rem;
    min-width: 15rem;
}

#expression-display {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
