@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --light-color: #72b0de;
    --text-color: white;
    --bg-color: #2d3f75;
}
/* color: #f38098 */ 
/* border-color: #afb7bd; */

/* set background color */
body, #root {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

#app-error {
    background-color: darkred;
}

#app-error h1 {
    font-family: monospace;
}