ol {
    padding-left: 0;
}

li {
    list-style: none;
}

.level-select li.selected {
    background-color: lightskyblue;
    /* font-weight: bold; */
    color: darkblue;
}

.level-select li.level-entry {
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
}