.navnode {
    display: block;
    margin: 0.1rem;
    border-left-width: 1mm;
    border-width: thin;
    border-color: darkgrey;
    border-style: solid;
}

#navtree ul {
  padding-left: 0;
}

.navnode.selected {
  border-left-width: 1mm;
  border-left-color: dodgerblue;
  border-left-style: solid;
}

#navtree .operand {
  padding-left: 1em;
}

#navtree ul {
  list-style: none;
}
