#global-controls {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#global-controls div {
    max-width: 20rem;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    flex-basis: content;
}

.controls {
    display: flex;
    flex-direction: row;
}

.controls > div {
    padding: 1rem;
    margin: 1px;
}