.rule.selected {
    border-radius: 3mm;
    border-style: solid;
    border-color: darkslategrey;
    border-width: thin;
    background-color: #d4d1bb;
}

/* .rule.selected * {
    background-color: black;
} */

.rule {
    margin: 0.5em;
    padding: 0.5em;
    font-size: large;
}

#rules li {
    list-style-type: none;
}

ul#rule-list {
    padding: 0;
    margin: 0;
}

.rule h3 {
    font-size: 12pt;
}