.node {
  display: inline-block;
  margin: 0.1rem;
  border: solid thin lightblue;
}

.tree div {
  display: inline-block;
}

.tree .selected.node {
  background-color: lightgoldenrodyellow;
}

.selected.operator {
  font-weight: bold; /* not showing up */
  color: red;
}

